.add-contact-title {
	display: flex;
	justify-content: flex-start;
	font-weight: bold;
}

.form-btn-container {
	display: flex;
	justify-content: center;
}

.other-btn-container {
	display: flex;
	justify-content: center;
}
