.contact-list-title {
	display: flex;
	justify-content: flex-start;
	font-weight: bold;
}

.add-new-top-container {
	display: flex;
	justify-content: space-between;
}

.add-new-bottom-container {
	display: flex;
	justify-content: center;
}
