.home-page-title {
	display: flex;
	justify-content: flex-start;
	font-weight: bold;
}

.home-page-img-container {
	display: flex;
	justify-content: flex-end;
	margin-right: 100px;
	margin-top: 0%;
	margin-bottom: 0%;
	padding: 0%;
}

.home-page-img {
	width: 415px;
}

.home-page-link {
	color: black;
}
